<div class="btn-group" role="group" aria-label="Scenario Operations">
	<button type="button" class="btn btn-default" ng-click="selectAll(true)"><span title="select all" class="glyphicon glyphicon-check"></span></button>
	<button type="button" class="btn btn-default" ng-click="selectAll(false)"><span title="un-select all" class="glyphicon glyphicon-unchecked"></span></button>
	<button type="button" class="btn btn-default" ng-disabled="!(scenarios | filter:{checked:true}).length > 0" ng-click="executeSelectedScenarios()"><span title="execute" class="glyphicon glyphicon-play"></span></button>
</div>
<div>
	<div class="container-fluid scenario-list">
		<div class="row" ng-class-even="'even-row'" ng-repeat="scenario in scenarios | filter:search">
			<ng-include src="'modules/scenarios/views/templates/scenario.item.html'" />
		</div>
	</div>
</div>
