<div layout="column"  layout-padding>
	<div layout>
		<md-button class="md-fab md-mini" ng-click="selectAll(true)"><span title="select all" class="glyphicon glyphicon-check"></span></md-button>
		<md-button class="md-fab md-mini" ng-click="selectAll(false)"><span title="un-select all" class="glyphicon glyphicon-unchecked"></span></md-button>
		<md-button class="md-fab md-mini md-primary" ng-disabled="!(scenarios | filter:{checked:true}).length > 0" ng-click="executeSelectedScenarios()"><span title="execute" class="glyphicon glyphicon-play"></span></md-button>
		<md-chips flex>
			<md-chip>Selected {{(scenarios | filter:{checked:true}).length}}/{{scenarios.length}}</md-chip>
			<md-chip ng-class="{'md-accent': }">Selected Passing {{(scenarios | filter:{passed:true}).length}}/{{(filteredScenarios | filter:{checked:true}).length}}</md-chip>
		</md-chips>
	</div>
	<div>
		<div class="container-fluid scenario-list">
			<div class="row" ng-class-even="'even-row'" ng-repeat="scenario in (filteredScenarios = (scenarios | filter:search))">
				<ng-include src="'modules/scenarios/views/templates/scenario.item.html'" />
			</div>
		</div>
	</div>
</div>