<div data-ng-controller="ScenariosController" data-ng-init="findOne()">
	<h1>Edit Scenario</h1>
	<div class="col-md-12 container">
        <form class="form-horizontal col-md-6" data-ng-submit="save()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="item.name" id="name" class="form-control" placeholder="Name" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="item.description" id="description" class="form-control" placeholder="Description" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="url">Get Url</label>
                    <div class="controls">
                        <input type="text" data-ng-model="item.url" id="coverImageUrl" class="form-control" placeholder="http://localhost">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="script">Selenese/JavaScript</label>
                    <div class="controls">
                        <textarea data-ng-model="item.script" id="script" class="form-control" placeholder="return document.title;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="reportProcessor">Report Processor</label>
                    <div class="controls">
                        <select name="reportProcessor" id="reportProcessor" ng-model="item.reportProcessor"
                        	ng-change="changeReportProcessor(item.reportProcessor)" ng-options="option.name for option in reportProcessors track by option.id" >
                        	<option value="">--none--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Apply" />
                    <input ng-click="testScenario(item)" type="button" class="btn btn-default" value="Test" />
                    <input ng-click="cancel()" class="btn btn-default" value="Return to List" />
                </div>
                <hr />
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
        <div class="col-md-6">
           	<div ng-if="loading.length" class="text-center"><img src="modules/core/img/preloaders/gears.svg"/></div>
			<div ng-show="item.response && !item.loading" class="text-info">
				<h3 ng-class="{'text-success': item.passed, 'text-danger': item.error || !item.passed}">Results</h3>
				<pre ng-bind="item.response"></pre>
			</div>
			<div ng-show="item.error" ng-bind="item.error" class="bg-danger"></div>
		</div>
    </div>
</div>