<section data-ng-controller="ScenariosController">
	<div class="btn-group pull-right" role="group" aria-label="Scenario Operations">
		<button type="button" class="btn btn-default" ng-click="selectAll(true)"><span title="select all" class="glyphicon glyphicon-check"></span></button>
		<button type="button" class="btn btn-default" ng-click="selectAll(false)"><span title="un-select all" class="glyphicon glyphicon-unchecked"></span></button>
		<button type="button" class="btn btn-default" ng-disabled="!(filteredScenarios | filter:{checked:true}).length > 0" ng-click="executeSelectedScenarios()"><span title="execute" class="glyphicon glyphicon-play"></span></button>
		<button type="button" class="btn btn-default" ng-click="$location.path('/scenarios/create')"><span title="create" class="glyphicon glyphicon-plus"></span></button>
	</div>
	<h1>Scenarios</h1>
	<div>
		<div>
			<label>Search: <input ng-model="search.$"></label>
		</div>

		<md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
			<md-tab label="All">
				<scenario-list scenarios="scenarios" search="search" />
			</md-tab>
			<md-tab ng-repeat="tab in tabs" label="{{tab.title}}">
				<scenario-list scenarios="scenarios" search="tab.search" />
			</md-tab>
			<md-tab ng-click="$location.path('/viewers/create/scenarios')">
				<md-tab-label>
					<md-icon class="material-icons">add</md-icon>
				</md-tab-label>
			</md-tab>
	    </md-tabs>
		
	</div>
	<hr />
	<div>
		<span class="lead">Log <a href ng-click="showLog = !showLog">...</a></span><a class="pull-right" href ng-click="clearLogs()"><span class="glyphicon glyphicon-erase" ></span></a>
		<div ng-show="showLog"><pre ng-bind="console"></pre></div>
		<div ng-if="loading.length" class="text-center"><img src="modules/core/img/preloaders/gears.svg"/></div>
	</div>
</section>