<section data-ng-controller="ScenariosController">
	<div class="btn-group pull-right" role="group" aria-label="Scenario Operations">
		<button type="button" class="btn btn-default" ng-click="selectAll(true)"><span title="select all" class="glyphicon glyphicon-check"></span></button>
		<button type="button" class="btn btn-default" ng-click="selectAll(false)"><span title="un-select all" class="glyphicon glyphicon-unchecked"></span></button>
		<button type="button" class="btn btn-default" ng-click="executeSelectedScenarios()"><span title="execute" class="glyphicon glyphicon-play"></span></button>
		<button type="button" class="btn btn-default" ng-click="$location.path('/scenarios/create')"><span title="create" class="glyphicon glyphicon-plus"></span></button>
	</div>
	<h1>Scenarios</h1>
	<div>
		<hr />
		<div class="container-fluid scenario-list">
			<div class="row" ng-class-even="'even-row'" ng-repeat="scenario in scenarios">
				<div class="col col-sm-8 col-xs-8 shorten">
					<input type="checkbox" no-wrap ng-model="scenario.checked" />
					<a href ng-show="scenario.response" ng-click="scenario.showResponse = !scenario.showResponse"><span class="glyphicon glyphicon-info-sign"></span></a>
					{{scenario.name}}: {{scenario.description}}
				</div>
				<div class="col col-sm-4 col-xs-4">
					<img ng-show="scenario.loading" class="pull-right" height="20px" src="modules/core/img/preloaders/ellipsis.svg" />
					<div ng-hide="scenario.loading" class="pull-right">
						<a href="#!/scenarios/{{scenario.id}}/edit"><span title="edit" class="glyphicon glyphicon-pencil"></span></a>
						<a href ng-click="duplicate(scenario)"><span title="duplicate" class="glyphicon glyphicon-duplicate grey"></span></a>
						<a href ng-click="executeScenario(scenario)"><span title="execute" class="glyphicon glyphicon-play green"></span></a>
						<a href ng-click="deleteScenario(scenario)"><span title="delete" class="glyphicon glyphicon-remove red"></span></a>
					</div>
				</div>
				<div class="col col-sm-12 col-xs-12 shorten text-muted">
					{{scenario.url}}
					<div>
						<div ng-show="scenario.showResponse" class="text-info">
							<p>Result</p>
							<pre ng-bind="scenario.response"></pre>
						</div>
						<div ng-show="scenario.error" ng-bind="scenario.error" class="bg-danger"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div>
		<span class="lead">Log</span><a class="pull-right" href ng-click="clearLogs()"><span class="glyphicon glyphicon-erase" ></span></a>
		<pre ng-bind="console"></pre>
		<div ng-if="loading.length" class="text-center"><img src="modules/core/img/preloaders/gears.svg"/></div>
	</div>
</section>