<div data-ng-controller="ViewerController" data-ng-init="findOne()">
	<h1>Edit Viewer</h1>
	<div class="col-md-12 container">
        <form class="form-horizontal col-md-6 col-xs-12 pull-left" data-ng-submit="save(true)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="item.name" id="name" class="form-control" placeholder="Name" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="item.description" id="description" class="form-control" placeholder="Description" required="required">
                    </div>
                </div>
                
                <div class="form-group" ng-show="item.id">
                    <label class="control-label" for="matchers">Matchers</label>
                    <div class="btn-group pull-right">
                    	<button ng-click="addMatcher()" class="button" type="button" >Add</button>
                    </div>
                    <div class="controls">
                    	<div layout="row" ng-repeat="matcher in item.matchers">
                    		
                    		<md-button class="md-raised md-warn" ng-click="removeMatcher(matcher)">
								<md-icon class="material-icons">clear</md-icon>
					        </md-button>
					        <md-input-container>
  								<label>Type</label>
					        	<md-select name="repeatSelect" ng-model="matcher.matchType">
							    	<md-option ng-repeat="option in matchTypes" ng-value="option">{{option}}</md-option>
							    </md-select>
							</md-input-container>
					        <md-input-container flex>
					        	<label>Search Text</label>
					        	<input type="text" ng-model="matcher.matchText" />
					        </md-input-container>
                    	</div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                    <input ng-click="cancel()" class="btn btn-default" value="Cancel" />
                </div>
                <div>
                	<a href ng-click="redirect()">Return</a>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</div>