<section data-ng-controller="ViewerController">
	<div class="btn-group pull-right" role="group" aria-label="Viewer Operations">
		<button type="button" class="btn btn-default" ng-click="selectAll(true)"><span title="select all" class="glyphicon glyphicon-check"></span></button>
		<button type="button" class="btn btn-default" ng-click="selectAll(false)"><span title="un-select all" class="glyphicon glyphicon-unchecked"></span></button>
		<button type="button" class="btn btn-default" ng-click="$location.path('/viewers/create')"><span title="create" class="glyphicon glyphicon-plus"></span></button>
	</div>
	<h1>Viewers</h1>
	<div>
		<hr />
		<div class="scene-list">
			<div layout="row" ng-class-even="'even-row'" ng-repeat="item in items">
				<md-input-container>
					<md-checkbox ng-model="item.checked" />
				</md-input-container>
				<md-button class="md-raised md-warn" ng-click="deleteItem(item)">
					<md-icon class="material-icons">clear</md-icon>
		        </md-button>
		        <md-button class="md-raised" ng-click="$location.path('/viewers/'+item.id+'/edit')">
					<md-icon class="material-icons">edit</md-icon>
		        </md-button>
				<div flex class="shorten">
					{{item.name}}: {{item.description}}
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div>
		<span class="lead">Log</span><a class="pull-right" href ng-click="clearLogs()"><span class="glyphicon glyphicon-erase" ></span></a>
		<pre ng-bind="console"></pre>
		<div ng-if="loading.length" class="text-center"><img src="modules/core/img/preloaders/gears.svg"/></div>
	</div>
</section>