<div data-ng-controller="ScenesController" data-ng-init="findOne()">
	<h1>Edit Scene</h1>
	<div class="col-md-12 container">
        <form class="form-horizontal col-md-6 pull-left" data-ng-submit="save()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="item.name" id="name" class="form-control" placeholder="Name" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="item.description" id="description" class="form-control" placeholder="Description" required="required">
                    </div>
                </div>
                
                <div class="form-group" ng-show="item.id">
                    <label class="control-label" for="scenarios">Scenarios</label>
                    <div class="controls">
                    	<div class="well">
                    		<div ng-repeat="scenario in item.scenarios"><a href="#" ng-click="removeScenario(scenario)"><span class="glyphicon glyphicon-remove red"></span></a> {{scenario.name}}</div>
                    	</div>
                        <select name="repeatSelect" id="scenarios" ng-model="selectedScenario">
					    	<option ng-repeat="option in availableScenarios" ng-value="toJson(option)">{{option.name}}</option>
					    </select>
					    <button ng-click="addScenario(fromJson(selectedScenario))" class="button" >Add</button>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                    <input ng-click="cancel()" class="btn btn-default" value="Cancel" />
                </div>
                <div>
                	<a href="#!/scenes">Back to List</a>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</div>